li.site {
    cursor: pointer
}
#atrMap {
    height: 700px
}
.modal-title {
    font-weight: bold;
    font-size: 1.5em
}
.chart-container {
    margin: 10px 0
}
#dir1Speed, #dir2Speed {
    font-weight: bold;
    font-size: 3em;
}
.modal-body {
    padding: 0 30px;
    overflow: auto;
}
.chartBtn {
    margin: 20px 0;
}
#hourLabel {
    font-weight: bold;
}